@page "/"

<PageTitle>Tonymore Cloud Deployment on Azure</PageTitle>

<h1>Saving God Pay, keep having faith in Him</h1>

Tonymore Cloud Deployment on Azure platform.

<SurveyPrompt Title="Seek the Oil not the crown" />
