@page "/"

<PageTitle>Tonymore Cloud Deployment on Azure</PageTitle>

<h1>Saving God Pay, keep having faith in Him</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
